<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <title>Переводчик</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Переводчик</h1>
            <div class="tabs">
            </div>
        </header>

        <main>
            <section id="translationsPanel">
                <div class="lang-select">
                    <select id="inputSourceLang">
                        <option value="en">Английский</option>
                        <option value="ru">Русский</option>
                        <option value="es">Испанский</option>
                        <option value="fr">Французский</option>
                        <option value="de">Немецкий</option>
                        <option value="ja">Японский</option>
                        <option value="it">Итальянский</option>
                    </select>
                    <button id="swapLangs", onclick="swapLangsFucntion()">⇄</button>
                    <select id="inputTargetLang">
                        <option value="ru">Русский</option>
                        <option value="en">Английский</option>
                        <option value="es">Испанский</option>
                        <option value="fr">Французский</option>
                        <option value="de">Немецкий</option>
                        <option value="ja">Японский</option>
                        <option value="it">Итальянский</option>
                    </select>
                </div>

                <div class="translate-area">
                    <textarea id="inputFieldTranslation" placeholder="Введите текст"></textarea>
                    <div class="arrow">→</div>
                    <textarea id="outputFieldTranslation" placeholder="Перевод" readonly></textarea>
                </div>

                <button id="addTranslationBtn">Перевести</button>
                <ul id="translationsList"></ul>
            </section>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </div>
    <script
    src="function.js">
    </script>
</body>
</html>